* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 229, 202);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 26, 49);
    padding: 0%;
    margin: 0%;
}

.topo {
    text-align: center;
    background-color: rgba(231, 52, 112, 0.315);
    padding: 10px;

}

.topo h1 {
    font-size: 40px;
}

.menuTopo {
    text-align: center;
    background-color: rgb(250, 154, 170);
    overflow: hidden;
    position: sticky;
    top: 10px;
}

.menuTopo ul {
    display: inline-block;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.menuTopo ul li {
    float: left;
}

.menuTopo a {
    display: block;
    color: rgba(221, 11, 81, 0.651);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    margin: 2px;
}

.menuTopo a:hover {
    background-color: rgb(250, 154, 170);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.container {
    background-color: rgb(250, 229, 202);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.item {
    background-color: rgb(240, 163, 176);
    color: rgb(97, 26, 49);
    padding: 10px;
}

.item h2 {
    color: rgb(97, 26, 49);
}

.item p {
    color: rgb(255, 255, 255);
}

.item1 {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 20%;
    align-self: baseline;
}

.item2 {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 20%;
    align-self: baseline;
}
.item3 {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 20%;
    align-self: baseline;
}
.item4 {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 20%;
    align-self: baseline;
}
.imagem{
    width: 100%;
}
.imagem img{
    width: 100%;
}

footer{ 
    padding: 7px;
    text-align: center;
    background-color:rgb(250, 154, 170);
    color: rgb(97, 26, 49);
    
}
